<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TODOリスト</title>
</head>
<body>

<h1>TODOリスト</h1>

<!-- 新規タスク追加ボタン -->
<form th:action="@{/todo/new}" method="get">
    <button type="submit">新規タスク</button>
</form>
<!-- タスク一覧 -->
<table>
    <tr th:each="task : ${tasks}">
        <input type="hidden" name="id" th:value="${task.id}"/>
        <td th:text="${task.content}"></td>
        <td>
            <select name="status">
                <option value="1" th:selected="${task.status == 1}">未着手</option>
                <option value="2" th:selected="${task.status == 2}">実行中</option>
                <option value="3" th:selected="${task.status == 3}">ステイ中</option>
                <option value="4" th:selected="${task.status == 4}">完了</option>
            </select>
        </td>
        <td th:text="${#temporals.format(task.limitDate, 'yyyy/MM/dd')}"></td>
        <td>

            <td class="edit-button">
                <a th:href="@{/edit/{id}(id=${task.id})}">
                    <input type="button" value="編集">
                </a>
            </td>

            <td class = "delete_button">
                <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
                    <input type="submit" value="削除">
                </form>
            </td>
        </td>
    </tr>
</table>
</body>
</html>
